@model IEnumerable<AppKeener.Models.Estoque>

@{
    ViewData["Title"] = "Movimentações";
}

<h1>Lista de movimentações</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Adicionar nova Movimentação</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recebido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enviado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <partial name="_Table" />
    </tbody>
</table>
